<form (ngSubmit)="save()"
      [formGroup]="form"
      [style.margin-top.rem]="3"
      [style.max-width.rem]="35"
      tuiAppearance="floating"
      tuiCardLarge
      tuiForm="m"
>
  <div [style.margin-top.rem]="1">
    <header tuiHeader><h6 tuiTitle>Contact Details</h6></header>

    <tui-textfield>
      <label tuiLabel>Name</label>
      <input formControlName="name" placeholder="Contact Name" tuiTextfield/>
    </tui-textfield>
    <tui-error [error]="[] | tuiFieldError | async" formControlName="name"/>

    <tui-textfield>
      <label tuiLabel>Phone</label>
      <input formControlName="phone" placeholder="Contact Phone" tuiTextfield/>
    </tui-textfield>
    <tui-error [error]="[] | tuiFieldError | async" formControlName="phone"/>

    <tui-textfield>
      <label tuiLabel>Email</label>
      <input formControlName="email" placeholder="Contact Email" tuiTextfield/>
    </tui-textfield>
    <tui-error [error]="[] | tuiFieldError | async" formControlName="email"/>
  </div>

  <footer class="footer">
    <tui-loader [inheritColor]="true"
                [overlay]="inProgress"
                [showLoader]="inProgress"
                class="loader"
    >
      <button [disabled]="form.invalid || inProgress" tuiButton type="submit">
        Submit
      </button>
    </tui-loader>
    <button [routerLink]="'..'"
            appearance="flat"
            tuiButton
            type="button"
    >
      Back
    </button>
  </footer>
</form>
