<main tuiNavigationMain>
  <nav [style.position]="'sticky'"
       compact
       tuiSubheader
  >
    <strong tuiFade>Delivery Receipts</strong>

    <hr>
  </nav>
  <hr>

  <tui-textfield iconStart="@tui.search">
    <label tuiLabel>Search by Customer Name</label>
    <input [(ngModel)]="nameSearch"
           tuiTextfield
    />
  </tui-textfield>

  <div
    class="content">
    <tui-loader [overlay]="true"
                [showLoader]="!!(loading$ | async)"
    >
      <table (directionChange)="direction$.next($event)"
             (tuiSortByChange)="sorter$.next($event!)"
             *ngIf="data$ | async as data"
             [columns]="columns"
             [direction]="(direction$ | async) || 1"
             [size]="'s'"
             [tuiSortBy]="sorter$ | async"
             class="table"
             tuiTable
      >
        <thead tuiThead>
        <tr tuiThGroup>
          <th *tuiHead="'supplier'" tuiSortable tuiTh>Supplier</th>
          <th *tuiHead="'receivedBy'" tuiSortable tuiTh>Received By</th>
          <th *tuiHead="'receivedDate'" tuiSortable tuiTh>Received Date</th>
          <th *tuiHead="'totalAmount'" tuiSortable tuiTh>Total Amount</th>
          <th *tuiHead="'actions'" [tuiSortable]="false" tuiTh>Actions</th>
        </tr>
        </thead>
        <tbody *tuiLet="data as sortedReceipts"
               [data]="sortedReceipts"
               tuiTbody
        >
        <tr *ngFor="let receipt of sortedReceipts" tuiTr>
          @let quotation = receipt.quotation;
          @let customer = quotation?.customer;
          <td *tuiCell="'supplier'" tuiTd>
            <ng-container *ngIf="customer">{{ customer.name }}</ng-container>
          </td>
          <td *tuiCell="'receivedBy'" tuiTd>{{ receipt.receivedBy }}</td>
          <td *tuiCell="'receivedDate'" tuiTd>{{ receipt.receivedDate | date:'longDate' }}</td>
          <td *tuiCell="'totalAmount'" tuiTd>{{ quotation?.totalAmount }}</td>
          <td *tuiCell="'actions'" tuiTd>
            @if (quotation?.id) {
              <span tuiStatus>
              <button [routerLink]="['/quotations', quotation?.id]"
                      appearance="action"
                      iconStart="@tui.arrow-up-right"
                      size="xs"
                      tuiIconButton
                      type="button"
              >
              View
              </button>
            </span>
            }
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td [colSpan]="columns.length">
            <tui-table-pagination (paginationChange)="onPagination($event)"
                                  [page]="(page$ | async) || 0"
                                  [size]="(size$ | async) || 20"
                                  [total]="(total$ | async) || 0"
                                  class="tui-space_top-2"
            />
          </td>
        </tr>
        </tfoot>
      </table>
    </tui-loader>
  </div>
</main>


