
.table {
  width: 100%;
}

.textfield {
  max-width: 32rem;
}

.table thead tr {
  th {
    &:first-child {
      min-width: 16rem;
    }

    &:last-child {
      max-width: fit-content;
    }
  }
}

.content {
  margin-top: 2rem;
}

.number {
  text-align: end;
  flex-direction: row-reverse;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  flex-direction: row;

  .column {
    min-width: 16rem;
    width: 20rem;
  }
}

.side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: gray 1.5px solid;
  padding: 1em 1.25rem;
}
