@let resolvedPurchaseOrder = resolvedPurchaseOrder$.value;
<form (ngSubmit)="save()"
      [formGroup]="form"
      [style.margin-top.rem]="3"
      tuiAppearance="floating"
      tuiCardLarge
      tuiForm="m"
>
  <header tuiHeader><h3 tuiTitle>Purchase Order Details</h3></header>
  <form class="columns"
        formGroupName="purchaseOrder"
        tuiForm="m"
  >
    <span class="column"
          tuiForm="m"
    >
      <app-combo-box [searchFn]="searchSupplier"
                     [stringify]="stringifySupplier"
                     [valueFn]="toSupplierId"
                     class="textfield"
                     formControlName="supplierId"
                     label="Supplier" placeholder="Supplier"
                     tuiTextfieldSize="m"
      >
        <ng-template #itemTemplate let-supplier>
          <div class="name">{{ supplier.name }}</div>
        </ng-template>
        <ng-template #loadingTemplate>
          <tui-loader></tui-loader>
        </ng-template>
      </app-combo-box>
      <tui-error [error]="[] | tuiFieldError | async"
                 formControlName="supplierId"
      />

      <tui-elastic-container *ngIf="selectedSupplier$ | async as supplier">
        <span tuiHeader>
          <div tuiCaption>Supplier Details</div>
        </span>
        <div tuiCell="s">
          <div tuiTitle>
            <div tuiSubtitle>Name</div>
            {{ supplier?.name }}
          </div>
        </div>
        <div tuiForm="s">
          <div tuiCell="s"><span tuiTitle><span tuiSubtitle>Contacts</span></span></div>
          <tui-scrollbar waIntersectionRoot><table [columns]="['name','phone','email']" [size]="'s'" tuiTable><thead
            tuiThead>
          <tr tuiThGroup>
            <th *tuiHead="'name'" [sorter]="null" tuiTh>Name</th>
            <th *tuiHead="'phone'" [sorter]="null" tuiTh>Phone</th>
            <th *tuiHead="'email'" [sorter]="null" tuiTh>Email</th>
          </tr>
          </thead><tbody tuiTbody>
          <ng-container *ngFor="let contact of supplier.contacts; let i = index">
            <tr tuiTr>
              <td *tuiCell="'name'" tuiTd>{{ contact?.name }}</td>
              <td *tuiCell="'phone'" tuiTd>{{ contact?.phone }}</td>
              <td *tuiCell="'email'" tuiTd>{{ contact?.email }}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
          </tui-scrollbar>
        </div>

        <div tuiForm="s">
          <div tuiCell="s"><div tuiTitle><div tuiSubtitle>Addresses</div></div></div>
            <tui-scrollbar waIntersectionRoot>
              <table [columns]="['fullAddress']" [size]="'s'" tuiTable>
                <thead tuiThead>
                <tr tuiThGroup>
                  <th *tuiHead="'fullAddress'" [sorter]="null" tuiTh>Address</th>
                </tr>
                </thead>
                <tbody tuiTbody>
                <ng-container *ngFor="let address of supplier.addresses; let i = index">
                  <tr tuiTr>
                    <td *tuiCell="'fullAddress'" tuiTd>{{ address?.fullAddress }}</td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
          </tui-scrollbar>
        </div>
      </tui-elastic-container>
    </span>

    <span class="column"
          tuiForm="m"
    >
      <tui-textfield class="textfield">
        <label tuiLabel>Approved By</label>
        <input formControlName="approvedBy"
               placeholder="Approved By"
               tuiTextfield
        />
      </tui-textfield>
      <tui-error [error]="[] | tuiFieldError | async"
                 formControlName="approvedBy"
      />

      <tui-textfield class="textfield">
        <label tuiLabel>Received By</label>
        <input formControlName="receivedBy"
               placeholder="Received By"
               tuiTextfield
        />
      </tui-textfield>
      <tui-error [error]="[] | tuiFieldError | async"
                 formControlName="receivedBy"
      />

      <tui-textfield class="textfield">
        <label tuiLabel>Prepared By</label>
        <input formControlName="preparedBy"
               placeholder="Prepared By"
               tuiTextfield
        />
      </tui-textfield>
      <tui-error [error]="[] | tuiFieldError | async"
                 formControlName="preparedBy"
      />

      <tui-textfield class="textfield">
        <label tuiLabel>Checked By</label>
        <input formControlName="checkedBy"
               placeholder="Checked By"
               tuiTextfield
        />
      </tui-textfield>
      <tui-error [error]="[] | tuiFieldError | async"
                 formControlName="checkedBy"
      />
    </span>

    @if (resolvedPurchaseOrder?.id && resolvedPurchaseOrder?.deliveryReceipt?.id) {
      @let receipt = resolvedPurchaseOrder?.deliveryReceipt;
      <span class="column side">
        <div tuiTitle="s">Delivery Receipt Details</div>

        <tui-textfield class="textfield">
          <label tuiLabel>Received Date</label>
          <input tuiTextfield [value]="receipt?.receivedDate | date:'long'" disabled/>
        </tui-textfield>

        <tui-textfield class="textfield">
          <label tuiLabel>Received By</label>
          <input tuiTextfield [value]="receipt?.receivedBy" disabled/>
        </tui-textfield>
      </span>
    }
  </form>

  <form formGroupName="quoteItems"
        tuiForm="m"
  >
    <tui-scrollbar class="scrollbar" waIntersectionRoot>
      <table (directionChange)="direction$.next($event)"
             (tuiSortByChange)="sorter$.next($event!)"
             [columns]="columns"
             [direction]="(direction$ | async) || 1"
             [size]="'s'"
             [tuiSortBy]="sorter$ | async"
             class="table"
             size="s"
             tuiTable
      >
        <thead tuiThead>
        <tr tuiThGroup>
          <th *tuiHead="'product'" [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Product</th>
          <th *tuiHead="'price'" [style.min-width]="'3.75rem'" [style.text-align]="'end'"
              [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Price
          </th>
          <th *tuiHead="'quantity'" [style.text-align]="'end'" [style.width]="'3.75rem'"
              [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Quantity
          </th>
          <th *tuiHead="'unit'" [style.width]="'3.75rem'" [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Units</th>
          <th *tuiHead="'total'" [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Total</th>
          <th *tuiHead="'actions'" [tuiSortable]="false" tuiTh>Actions</th>
        </tr>
        </thead>

        <tbody tuiTbody>
        <ng-container *ngFor="let item of quoteItemsFormArray.controls; let i = index" [formGroupName]="i">
          <tr *ngIf="item.value._d" tuiTr>
            @let _d = item.value._d;
            @let id = item.value.id;
            <td *tuiCell="'product'" tuiTd>
              <app-combo-box (value)="selectedProducts[_d]=$event"
                             [searchFn]="searchProducts(_d ,id)"
                             [stringify]="stringifyProduct(_d ,id)"
                             [tuiTextfieldCleaner]="false"
                             [valueContent]="selected"
                             [valueFn]="toProductId"
                             formControlName="productId"
                             placeholder="Search"
                             tuiTextfieldSize="m">
                <ng-template #selected>
                  @let product = selectedProducts[_d];
                  <div *ngIf="product?.name">
                    <span>{{ product?.name }}</span> | <em>{{ product?.itemCode }}</em> , <em>{{ product?.sku }}</em>
                  </div>
                </ng-template>
                <ng-template #itemTemplate let-product>
                  <div>
                    <span>{{ product?.name }}</span> | <em>{{ product?.itemCode }}</em> , <em>{{ product?.sku }}</em>
                  </div>
                </ng-template>
                <ng-template #loadingTemplate>
                  <tui-loader></tui-loader>
                </ng-template>
              </app-combo-box>
            </td>
            <td *tuiCell="'price'" tuiTd>
              <tui-textfield>
                <input [style.padding-bottom]="0"
                       class="number"
                       formControlName="price"
                       tuiInputNumber
                       tuiTextfieldSize="m"
                />
              </tui-textfield>
            </td>
            <td *tuiCell="'quantity'" tuiTd>
              <tui-textfield>
                <input [style.padding-bottom]="0"
                       [tuiNumberFormat]="{precision: 0}"
                       class="number"
                       formControlName="quantity"
                       tuiInputNumber
                       tuiTextfieldSize="m"
                />
              </tui-textfield>
            </td>
            <td *tuiCell="'unit'" tuiTd>
              <tui-textfield>
                <input [style.padding-bottom]="0"
                       [value]="selectedProducts[_d]?.um"
                       class="number"
                       disabled
                       tuiTextfield
                       tuiTextfieldSize="m"

                />
              </tui-textfield>
            </td>
            <td *tuiCell="'total'" tuiTd>
              <tui-textfield>
                <input [style.padding-bottom]="0"
                       [value]="Number(item.get('price')?.value) * Number(item.get('quantity')?.value)"
                       class="number"
                       disabled
                       tuiTextfield
                       tuiTextfieldSize="m"
                />
              </tui-textfield>
            </td>
            <td *tuiCell="'actions'" [style.text-align]="'center'" tuiTd>
              <button (click)="removeRow(_d)" appearance="flat-destructive" size="s"
                      tuiButton
                      tuiIconButton
                      type="button">
                <tui-icon icon="@tui.trash"/>
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </tui-scrollbar>
    <button (click)="addRow()" appearance="primary" size="m" tuiButton type="button">Add Row
    </button>
  </form>

  <span [style.flex]="'1 1 auto'"></span>

  <footer class="footer">
    <button [disabled]="!form.dirty || form.invalid || inProgress"
            tuiButton
            type="submit"
    >
      Save
    </button>
    <span [style.flex]="'1 1 auto'"></span>
    @if (resolvedPurchaseOrder?.id && !resolvedPurchaseOrder?.deliveryReceipt?.id) {
      <button (click)="createDeliveryReceipt()"
              [disabled]="!resolvedPurchaseOrder?.id || resolvedPurchaseOrder?.deliveryReceipt?.id || inProgress"
              appearance="secondary"
              tuiButton
              type="button"
      >
        Create Delivery Receipt
      </button>
    }
    <span [style.flex]="'1 1 auto'"></span>
    <button [routerLink]="'/purchaseOrders'"
            appearance="flat"
            tuiButton
            type="button"
    >
      Back
    </button>
  </footer>
</form>
