<main tuiNavigationMain>
  <nav
    [style.position]="'sticky'"
    compact
    tuiSubheader
  >
    <!--    <tui-breadcrumbs [itemsLimit]="10">-->
    <!--      <ng-container *ngFor="let item of ['Client']; let last = last">-->
    <!--        <ng-container>-->
    <!--          <strong-->
    <!--            *tuiItem-->
    <!--            tuiFade-->
    <!--          >-->
    <!--            {{item}}-->
    <!--          </strong>-->
    <!--        </ng-container>-->
    <!--      </ng-container>-->
    <!--    </tui-breadcrumbs>-->
    <strong
      tuiFade
    >
      Client
    </strong>

    <hr>
    <!--    <button [routerLink]="['clients',1]">:1</button>-->

    <button
      [routerLink]="'new'"
      tuiButton
      type="button"
    >
      Add Client
    </button>
  </nav>
  <hr>

  <tui-textfield
    iconStart="@tui.search"
  >
    <label tuiLabel>Search by Name</label>
    <input
      tuiTextfield
      [(ngModel)]="nameSearch"
    />
<!--    <tui-icon tuiTooltip="Search by Name"/>-->
  </tui-textfield>

  <div
    class="content">
    <tui-loader
      [overlay]="true"
      [showLoader]="!!(loading$ | async)"
    >
      <table
        (directionChange)="direction$.next($event)"
        (tuiSortByChange)="sorter$.next($event!)"
        *ngIf="data$ | async as data"
        [columns]="columns"
        [direction]="(direction$ | async) || 1"
        [size]="'s'"
        [tuiSortBy]="sorter$ | async"
        class="table"
        tuiTable
      >
        <thead tuiThead>
        <tr tuiThGroup>
          <th *tuiHead="'name'" tuiSortable tuiTh>Name</th>
          <th *tuiHead="'address'" tuiSortable tuiTh>Address</th>
          <th *tuiHead="'tin'" tuiSortable tuiTh>TIN</th>
          <th *tuiHead="'website'" tuiSortable tuiTh>Website</th>
          <th *tuiHead="'actions'" [tuiSortable]="false" tuiTh>Actions</th>
        </tr>
        </thead>
        <tbody
          *tuiLet="data as sortedData"
          [data]="sortedData"
          tuiTbody
        >
        <tr *ngFor="let item of sortedData" tuiTr>
          <td *tuiCell="'name'" tuiTd>
            <a [routerLink]="[item.id]"
               tuiLink
            >
              {{ item.name }}
            </a>
          </td>
          <td *tuiCell="'address'" tuiTd>{{ item.address }}</td>
          <td *tuiCell="'tin'" tuiTd>{{ item.tin }}</td>
          <td *tuiCell="'website'" tuiTd>{{ item.website }}</td>
          <td *tuiCell="'actions'" tuiTd>
          <span tuiStatus>
          <button
            [routerLink]="[item.id]"
            appearance="action"
            iconStart="@tui.pencil"
            size="xs"
            tuiIconButton
            type="button"
          >
            Edit
          </button>
          <button
            [tuiDropdown]="content"
            appearance="action"
            iconStart="@tui.ellipsis"
            size="xs"
            tuiDropdownOpen
            tuiIconButton
            type="button"
          >
            More
          </button>
          <ng-template #content>
            <tui-data-list role="menu">
              <a (click)="showDeleteDialog(item)"
                 iconStart="@tui.trash"
                 tuiLink
              >
                Delete
              </a>
            </tui-data-list>
          </ng-template>
        </span>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td [colSpan]="columns.length">
            <tui-table-pagination
              (paginationChange)="onPagination($event)"
              [page]="(page$ | async) || 0"
              [size]="(size$ | async) || 20"
              [total]="(total$ | async) || 0"
              class="tui-space_top-2"
            />
          </td>
        </tr>
        </tfoot>
      </table>
    </tui-loader>
  </div>
</main>


