<form (ngSubmit)="save()"
      [formGroup]="form"
      [style.margin-top.rem]="3"
      tuiAppearance="floating"
      tuiCardLarge
      tuiForm="m"
>
  @let resolvedQuotation = (resolvedQuotation$ | async);
  @let receipt = resolvedQuotation?.receipt;
  <header tuiHeader><h3 tuiTitle>Quotation Details</h3></header>

  <div class="columns">
    <form class="column"
          formGroupName="quotation"
          tuiForm="m"
    >
      <tui-textarea class="textfield"
                    formControlName="paymentTerms"
                    tuiTextfieldSize="m">
        Payment Terms
      </tui-textarea>
      <tui-error [error]="[] | tuiFieldError | async"
                 formControlName="paymentTerms"
      />

      <tui-textfield class="textfield">
        <label tuiLabel>Shipping Address</label>
        <input formControlName="shippingAddress"
               placeholder="Shipping Address"
               tuiTextfield
        />
      </tui-textfield>
      <tui-error [error]="[] | tuiFieldError | async"
                 formControlName="shippingAddress"
      />

      <app-combo-box [searchFn]="searchCompanies"
                     [stringify]="stringifyCompany"
                     [valueFn]="toCompanyHref"
                     class="textfield"
                     formControlName="companyHref"
                     label="Company"
                     placeholder="Company" tuiTextfieldSize="m"
      >
        <ng-template #itemTemplate let-company>
          <div class="name">{{ company.name }}</div>
        </ng-template>
        <ng-template #loadingTemplate>
          <tui-loader></tui-loader>
        </ng-template>
      </app-combo-box>
      <tui-error [error]="[] | tuiFieldError | async"
                 formControlName="companyHref"
      />
    </form>

    <span class="column"
          tuiForm="m"
    >
      <tui-textfield class="textfield">
        <label tuiLabel>Date created</label>
        <input [value]="resolvedQuotation? (resolvedQuotation.quotationDate | date:'long') : ''"
               disabled
               tuiTextfield
        />
      </tui-textfield>
      @if (receipt) {
        <tui-textfield class="textfield">
        <label tuiLabel>Receipt received by</label>
        <input tuiTextfield
               disabled
               [value]="receipt.receivedBy"
        />
      </tui-textfield>
        <tui-textfield class="textfield">
        <label tuiLabel>Receipt received on</label>
        <input tuiTextfield
               disabled
               [value]="receipt.receivedDate | date:'long'"
        />
      </tui-textfield>
      }
    </span>

  </div>

  <form formGroupName="quoteItems"
        tuiForm="m"
  >
    <tui-scrollbar class="scrollbar" waIntersectionRoot>
      <table (directionChange)="direction$.next($event)"
             (tuiSortByChange)="sorter$.next($event!)"
             [columns]="columns"
             [direction]="(direction$ | async) || 1"
             [size]="'s'"
             [tuiSortBy]="sorter$ | async"
             class="table"
             size="s"
             tuiTable
      >
        <thead tuiThead>
        <tr tuiThGroup>
          <th *tuiHead="'product'" [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Product</th>
          <th *tuiHead="'price'" [style.min-width]="'3.75rem'" [style.text-align]="'end'"
              [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Price
          </th>
          <th *tuiHead="'quantity'" [style.text-align]="'end'" [style.width]="'3.75rem'"
              [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Quantity
          </th>
          <th *tuiHead="'unit'" [style.width]="'3.75rem'" [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Units</th>
          <th *tuiHead="'total'" [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Total</th>
          <th *tuiHead="'actions'" [tuiSortable]="false" tuiTh>Actions</th>
        </tr>
        </thead>

        <tbody tuiTbody>
        <ng-container *ngFor="let item of quoteItemsFormArray.controls; let i = index" [formGroupName]="i">
          <tr *ngIf="item.value._d" tuiTr>
            @let _d = item.value._d;
            @let id = item.value.id;
            <td *tuiCell="'product'" tuiTd>
              <app-combo-box (value)="selectedProducts[_d]=$event"
                             [searchFn]="searchProducts(_d ,id)"
                             [stringify]="stringifyProduct(_d ,id)"
                             [tuiTextfieldCleaner]="false"
                             [valueContent]="selected"
                             [valueFn]="toProductHref"
                             formControlName="quotedProductHref"
                             placeholder="Search"
                             tuiTextfieldSize="m">
                <ng-template #selected>
                  @let product = selectedProducts[_d];
                  <div *ngIf="product?.name">
                    <span>{{ product?.name }}</span> | <em>{{ product?.itemCode }}</em> , <em>{{ product?.sku }}</em>
                  </div>
                </ng-template>
                <ng-template #itemTemplate let-product>
                  <div>
                    <span>{{ product?.name }}</span> | <em>{{ product?.itemCode }}</em> , <em>{{ product?.sku }}</em>
                  </div>
                </ng-template>
                <ng-template #loadingTemplate>
                  <tui-loader></tui-loader>
                </ng-template>
              </app-combo-box>
            </td>
            <td *tuiCell="'price'" tuiTd>
              <tui-textfield>
                <input [style.padding-bottom]="0"
                       class="number"
                       formControlName="price"
                       tuiInputNumber
                       tuiTextfieldSize="m"
                />
              </tui-textfield>
            </td>
            <td *tuiCell="'quantity'" tuiTd>
              <tui-textfield>
                <input [style.padding-bottom]="0"
                       [tuiNumberFormat]="{precision: 0}"
                       class="number"
                       formControlName="quantity"
                       tuiInputNumber
                       tuiTextfieldSize="m"
                />
              </tui-textfield>
            </td>
            <td *tuiCell="'unit'" tuiTd>
              <tui-textfield>
                <input [style.padding-bottom]="0"
                       [value]="selectedProducts[_d]?.umAmount + ' ' +  selectedProducts[_d]?.um"
                       class="number"
                       disabled
                       tuiTextfield
                       tuiTextfieldSize="m"

                />
              </tui-textfield>
            </td>
            <td *tuiCell="'total'" tuiTd>
              <tui-textfield>
                <input [style.padding-bottom]="0"
                       [value]="Number(item.get('price')?.value) * Number(item.get('quantity')?.value)"
                       class="number"
                       disabled
                       tuiTextfield
                       tuiTextfieldSize="m"
                />
              </tui-textfield>
            </td>
            <td *tuiCell="'actions'" [style.text-align]="'center'" tuiTd>
              <button (click)="removeRow(_d)" [disabled]="!!receipt?.id"
                      appearance="flat-destructive"
                      size="s"
                      tuiButton
                      tuiIconButton type="button">
                <tui-icon icon="@tui.trash"/>
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </tui-scrollbar>
    <button (click)="addRow()" [disabled]="!!receipt?.id" appearance="primary" size="m" tuiButton
            type="button">Add Row
    </button>
  </form>

  <span [style.flex]="'1 1 auto'"></span>

  <footer class="footer">
    <button [disabled]="form.invalid || inProgress || !!receipt?.id"
            tuiButton
            type="submit"
    >
      Save
    </button>
    <button (click)="save(true)"
            [disabled]="form.invalid || inProgress || !!receipt?.id"
            tuiButton
            type="button"
    >
      Save and Return
    </button>
    <span [style.flex]="'1 1 auto'"></span>
    <button [routerLink]="'..'"
            appearance="flat"
            tuiButton
            type="button"
    >
      Back
    </button>
  </footer>
</form>
