@let resolvedQuotation = (resolvedQuotation$ | async);
@let deliveryReceipt = (deliveryReceipt$ | async);
<form (ngSubmit)="save()"
      [formGroup]="form"
      [style.margin-top.rem]="3"
      tuiAppearance="floating"
      tuiCardLarge
      tuiForm="m"
>
  <header tuiHeader><h3 tuiTitle>Quotation Details</h3></header>

  <div class="columns">
    <form class="column"
          formGroupName="quotation"
          tuiForm="m"
    >
      <tui-textarea class="textfield"
                    formControlName="paymentTerms"
                    tuiTextfieldSize="m">
        Payment Terms
      </tui-textarea>
      <tui-error [error]="[] | tuiFieldError | async"
                 formControlName="paymentTerms"
      />

      <app-combo-box [searchFn]="searchCustomers"
                     [stringify]="stringifyCustomer"
                     [valueFn]="toCustomerId"
                     class="textfield"
                     formControlName="customerId"
                     label="Customer"
                     placeholder="Customer" tuiTextfieldSize="m"
      >
        <ng-template #itemTemplate let-customer>
          <div class="name">{{ customer.name }}</div>
        </ng-template>
        <ng-template #loadingTemplate>
          <tui-loader></tui-loader>
        </ng-template>
      </app-combo-box>
      <tui-error [error]="[] | tuiFieldError | async"
                 formControlName="customerId"
      />

      <app-combo-box [searchFn]="searchShippingAddress"
                     [valueFn]="toFullAddress"
                     class="textfield"
                     formControlName="shippingAddress"
                     label="Shipping Address" placeholder="Shipping Address"
                     tuiTextfieldSize="m"
      >
        <ng-template #itemTemplate let-address>
          <div class="name">{{ address.fullAddress }}</div>
        </ng-template>
        <ng-template #loadingTemplate>
          <tui-loader></tui-loader>
        </ng-template>
      </app-combo-box>
      <tui-error [error]="[] | tuiFieldError | async"
                 formControlName="shippingAddress"
      />

      <label>
        <input formControlName="sameAsBilling"
               size="s"
               tuiCheckbox
               type="checkbox"
        />
        Same as Billing Address
      </label>

      <tui-textfield>
        <input formControlName="deliveryCharge"
               tuiInputNumber
               tuiTextfieldSize="m"
        />
        <label tuiLabel>Delivery Charge</label>
      </tui-textfield>
      <tui-error [error]="[] | tuiFieldError | async"
                 formControlName="deliveryCharge"
      />

      <label>
        <input formControlName="vatInclusive"
               size="s"
               tuiCheckbox
               type="checkbox"
        />
        Vat inclusive
      </label>
    </form>

    <span class="column"
          tuiForm="m"
    >
      <tui-textfield class="textfield">
        <label tuiLabel>Date created</label>
        <input [value]="resolvedQuotation? (resolvedQuotation.quotationDate | date:'longDate') : ''"
               disabled
               tuiTextfield
        />
      </tui-textfield>
    </span>

    @if (resolvedQuotation?.id) {
      <span class="column"
            tuiForm="m"
      >
        <span class="column side">
        <div class="flex row title-button">Delivery Receipt Details
          @if (deliveryReceipt?.id) {
            <button (click)="openDeliveryReceiptDialog()"
                    appearance="primary"
                    [size]="'xs'"
                    tuiButton
                    type="button"
            >
            Edit
          </button>
          }
        </div>

          @if (deliveryReceipt?.id) {
            <tui-textfield>
              <label tuiLabel>Received Date</label>
              <input tuiTextfield
                     [value]="deliveryReceipt?.receivedDate ? (deliveryReceipt?.receivedDate | date:'longDate') : ''"
                     disabled/>
            </tui-textfield>
            <tui-textfield>
              <label tuiLabel>Received By</label>
              <input tuiTextfield [value]="deliveryReceipt?.receivedBy" disabled/>
            </tui-textfield>
            <tui-textfield>
              <label tuiLabel>Payment Due Date</label>
              <input tuiTextfield
                     [value]="deliveryReceipt?.paymentDueDate ? (deliveryReceipt?.paymentDueDate | date:'longDate') : ''"
                     disabled/>
            </tui-textfield>
            <tui-textfield>
              <label tuiLabel>Cheque Number</label>
              <input tuiTextfield [value]="deliveryReceipt?.chequeNumber" disabled/>
            </tui-textfield>
          }
      </span>
    </span>
    }

  </div>

  <form formGroupName="quoteItems" tuiForm="m">
    <tui-scrollbar class="scrollbar" waIntersectionRoot>
      <table (directionChange)="direction$.next($event)"
             (tuiSortByChange)="sorter$.next($event!)"
             [columns]="columns"
             [direction]="(direction$ | async) || 1"
             [size]="'s'"
             [tuiSortBy]="sorter$ | async"
             class="table"
             tuiTable
      >
        <thead tuiThead>
        <tr tuiThGroup>
          <th *tuiHead="'product'" [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Product</th>
          <th *tuiHead="'price'" [style.width]="'4rem'" [style.text-align]="'end'"
              [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Price
          </th>
          <th *tuiHead="'quantity'" [style.text-align]="'end'" [style.width]="'4rem'"
              [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Quantity
          </th>
          <th *tuiHead="'discount'" [style.text-align]="'end'" [style.width]="'8rem'"
              [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Discount, %
          </th>
          <th *tuiHead="'unit'" [style.width]="'3.75rem'" [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Units</th>
          <th *tuiHead="'total'" [style.text-align]="'end'" [style.width]="'6rem'"
              [tuiSortable]="isQuoteItemsFormArraySortable" tuiTh>Total
          </th>
          <th *tuiHead="'actions'" [sorter]="null" tuiTh>Actions</th>
        </tr>
        </thead>

        <tbody tuiTbody>
        <ng-container *ngFor="let item of quoteItemsFormArray.controls; let i = index" [formGroupName]="i">
          <tr *ngIf="item.value._d" tuiTr>
            @let _d = item.value._d;
            @let id = item.value.id;
            <td *tuiCell="'product'" tuiTd>
              <app-combo-box (value)="selectedProducts[_d]=$event"
                             [searchFn]="searchProducts(_d ,id)"
                             [stringify]="stringifyProduct(_d ,id)"
                             [tuiTextfieldCleaner]="false"
                             [valueContent]="selected"
                             [valueFn]="toProductId"
                             formControlName="productId"
                             placeholder="Search"
                             tuiTextfieldSize="m">
                <ng-template #selected>
                  @let product = selectedProducts[_d];
                  <div *ngIf="product?.name">
                    <span>{{ product?.name }}</span>
                    @if (product?.itemCode) {
                      | <em>{{ product?.itemCode }}</em>
                    }
                  </div>
                </ng-template>
                <ng-template #itemTemplate let-product>
                  <div>
                    <span>{{ product?.name }}</span>
                    @if (product?.itemCode) {
                      | <em>{{ product?.itemCode }}</em>
                    }
                  </div>
                </ng-template>
                <ng-template #loadingTemplate>
                  <tui-loader></tui-loader>
                </ng-template>
              </app-combo-box>
            </td>
            <td *tuiCell="'price'" tuiTd>
              <tui-textfield>
                <input [style.padding-bottom]="0"
                       class="number"
                       formControlName="price"
                       tuiInputNumber
                       tuiTextfieldSize="m"
                />
              </tui-textfield>
            </td>
            <td *tuiCell="'quantity'" tuiTd>
              <tui-textfield>
                <input [style.padding-bottom]="0"
                       [tuiNumberFormat]="{precision: 0}"
                       class="number"
                       formControlName="quantity"
                       tuiInputNumber
                       tuiTextfieldSize="m"
                />
              </tui-textfield>
            </td>
            <td *tuiCell="'discount'" tuiTd>
              <tui-textfield>
                <input [style.padding-bottom]="0"
                       [tuiNumberFormat]="{precision: 0}"
                       class="number"
                       formControlName="discountAmount"
                       tuiInputNumber
                       tuiTextfieldSize="m"
                />
              </tui-textfield>
            </td>
            <td *tuiCell="'unit'" tuiTd>
              <tui-textfield>
                <input [style.padding-bottom]="0"
                       [value]="selectedProducts[_d]?.um"
                       class="number"
                       disabled
                       tuiTextfield
                       tuiTextfieldSize="m"

                />
              </tui-textfield>
            </td>
            <td *tuiCell="'total'" tuiTd>
              <tui-textfield>
                <input [style.padding-bottom]="0"
                       [value]="calcQuoteItemTotal(item)"
                       class="number"
                       disabled
                       tuiTextfield
                       tuiTextfieldSize="m"
                />
              </tui-textfield>
            </td>
            <td *tuiCell="'actions'" [style.text-align]="'center'" tuiTd>
              <button (click)="removeRow(_d)"
                      appearance="flat-destructive"
                      size="s"
                      tuiButton
                      tuiIconButton type="button">
                <tui-icon icon="@tui.trash"/>
              </button>
            </td>
          </tr>
        </ng-container>
        <tbody tuiTbody>
        <tr>
          <td tuiTd colspan="7" class="no-side">
            <button (click)="addRow()" appearance="primary" size="s" tuiButton type="button">Add Row</button>
          </td>
        </tr>
        </tbody>
        <tbody tuiTbody class="merge-vert-border">
        <tr>
          <td tuiTd colSpan="4"></td>
          <td tuiTd>Subtotal</td>
          <td tuiTd [style.text-align]="'end'">{{ this.subTotal.toFixed(2) }}</td>
        </tr>
        <tr>
          <td tuiTd colSpan="4"></td>
          <td tuiTd>Discount Subtotal</td>
          <td tuiTd [style.text-align]="'end'">{{ this.discountSubtotal.toFixed(2) }}</td>
        </tr>
        <tr>
          <td tuiTd colSpan="4"></td>
          <td tuiTd>Delivery Subtotal</td>
          <td tuiTd [style.text-align]="'end'">{{ this.deliverySubtotal.toFixed(2) }}</td>
        </tr>
        <tr>
          <td tuiTd colSpan="4"></td>
          <td tuiTd>Total</td>
          <td tuiTd [style.text-align]="'end'">{{ this.total.toFixed(2) }}</td>
        </tr>
        </tbody>
      </table>
    </tui-scrollbar>
  </form>

  <span [style.flex]="'1 1 auto'"></span>

  <footer class="footer">
    <button [disabled]="form.invalid || inProgress" tuiButton type="submit">
      Save
    </button>
    <span [style.flex]="'1 1 auto'"></span>
    @if (deliveryReceipt?.id) {
      <button (click)="openDeliveryReceiptDialog()"
              [disabled]="!resolvedQuotation?.id || deliveryReceipt?.id || inProgress"
              appearance="secondary"
              tuiButton
              type="button"
      >
        Create Delivery Receipt
      </button>
    }
    <span [style.flex]="'1 1 auto'"></span>
    <button [routerLink]="'..'" appearance="flat" tuiButton type="button">
      Back
    </button>
  </footer>
</form>
