<form [formGroup]="form" tuiForm="m" (ngSubmit)="submit()">
  @let deliveryReceipt = this.data.deliveryReceipt;

  <tui-textfield class="textfield">
    <label tuiLabel>PO</label>
    <input formControlName="po"
           placeholder="PO"
           tuiTextfield
    />
  </tui-textfield>
  <tui-error [error]="[] | tuiFieldError | async"
             formControlName="receivedBy"
  />

  <app-combo-box [searchFn]="searchSite"
                 [stringify]="stringifySite"
                 [valueFn]="toSiteId"
                 class="textfield"
                 formControlName="siteId"
                 placeholder="Site"
                 tuiTextfieldSize="m"
  >
    <ng-template #labelTemplate>
      <label>Site</label>
    </ng-template>
    <ng-template #itemTemplate let-site>
      <div class="name">{{ site.name }}</div>
    </ng-template>
    <ng-template #loadingTemplate>
      <tui-loader></tui-loader>
    </ng-template>
  </app-combo-box>
  <tui-error [error]="[] | tuiFieldError | async"
             formControlName="siteId"
  />

  <tui-input-date [tuiDateFormat]="{separator: '/', mode: 'MDY'}" formControlName="receivedDate" tuiTextfieldSize="m">
    Received Date
    <input tuiTextfieldLegacy />
  </tui-input-date>
  <tui-error formControlName="receivedDate"
             [error]="[] | tuiFieldError | async"
  />

  <tui-textfield class="textfield">
    <label tuiLabel>Received By</label>
    <input formControlName="receivedBy"
           placeholder="Received By"
           tuiTextfield
    />
  </tui-textfield>
  <tui-error [error]="[] | tuiFieldError | async"
             formControlName="receivedBy"
  />

  <tui-input-date [tuiDateFormat]="{separator: '/', mode: 'MDY'}" formControlName="paymentDueDate" tuiTextfieldSize="m">
    Payment Due Date
    <input tuiTextfieldLegacy />
  </tui-input-date>
  <tui-error formControlName="paymentDueDate"
             [error]="[] | tuiFieldError | async"
  />

  <tui-textfield class="textfield">
    <label tuiLabel>Cheque Number</label>
    <input formControlName="chequeNumber"
           placeholder="Cheque Number"
           tuiTextfield
    />
  </tui-textfield>
  <tui-error [error]="[] | tuiFieldError | async"
             formControlName="chequeNumber"
  />

  <footer class="footer">
    <button (click)="submit()"
            [disabled]="!form.valid"
            appearance="primary"
            size="m"
            tuiButton
    >
      {{ deliveryReceipt?.id ? 'Update' : 'Create' }}
    </button>
  </footer>
</form>
