<div class="container">
  <form
    (ngSubmit)="login()"
    [formGroup]="loginForm"
    [style.max-width.rem]="32"
    class="form"
    tuiAppearance="floating"
    tuiCardLarge
    tuiForm="m"
  >
    <header tuiHeader>
      <h2 tuiTitle>
        Login
      </h2>
    </header>
    <tui-textfield>
      <label tuiLabel>Username</label>
      <input
        formControlName="username"
        placeholder="username"
        tuiTextfield
      />
    </tui-textfield>
    <tui-textfield>
      <label tuiLabel>Password</label>
      <input
        formControlName="password"
        placeholder=""
        tuiTextfield
        type="password"
      />
    </tui-textfield>
    <tui-loader
      [inheritColor]="true"
      [overlay]="true"
      [showLoader]="isLoading.value"
      class="loader"
    >
      <button
        [disabled]="!loginForm.valid"
        tuiButton
        type="submit"
      >
        Login
      </button>
    </tui-loader>
    <tui-notification *ngIf="error" appearance="negative">
      <h3 tuiTitle>
        Authentication failed
        <span tuiSubtitle>Please try again.</span>
      </h3>
    </tui-notification>
  </form>
</div>
