.textfield {
  max-width: 32rem;
}

.table {
  width: 100%;

  thead {
    tr {
      th {
        &:last-child {
          width: 1rem;
        }
      }
    }
  }
}

.new {
  td {
    background: rgba(230, 255, 230, 0.5);
  }
}
