<tui-combo-box (searchChange)="onSearchChange($event)"
               *tuiLet="searchResponse$ | async as results"
               [stringify]="stringify"
               [tuiTextfieldCleaner]="tuiTextfieldCleaner"
               [tuiTextfieldSize]="tuiTextfieldSize"
               [valueContent]="valueContent"
>
  <ng-container *ngIf="labelTemplate">
    <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
  </ng-container>

  <input [placeholder]="placeholder" tuiTextfieldLegacy/>

  <ng-container *ngIf="valueContent">
    <ng-container *ngTemplateOutlet="valueContent"></ng-container>
  </ng-container>

  <ng-template tuiDataList>
    <ng-container *ngIf="results; else loadingTemplate || defaultLoadingTemplate">
      <tui-data-list>
        <ng-container *ngFor="let item of results">
          <button (click)="onItemSelected(item)" [value]="valueFn(item)" tuiOption type="button">
            <ng-container
              *ngTemplateOutlet="itemTemplate || defaultItemTemplate; context: { $implicit: item }">
            </ng-container>
          </button>
        </ng-container>
      </tui-data-list>
    </ng-container>
  </ng-template>

</tui-combo-box>

<ng-template #defaultItemTemplate let-item>
  {{ item }}
</ng-template>

<ng-template #defaultLoadingTemplate>
  <tui-loader></tui-loader>
</ng-template>
