<main tuiNavigationMain>
  <nav
    [style.position]="'sticky'"
    compact
    tuiSubheader
  >
    <!--    <tui-breadcrumbs [itemsLimit]="10">-->
    <!--      <ng-container *ngFor="let item of ['Client']; let last = last">-->
    <!--        <ng-container>-->
    <!--          <strong-->
    <!--            *tuiItem-->
    <!--            tuiFade-->
    <!--          >-->
    <!--            {{item}}-->
    <!--          </strong>-->
    <!--        </ng-container>-->
    <!--      </ng-container>-->
    <!--    </tui-breadcrumbs>-->
    <strong
      tuiFade
    >
      Contacts
    </strong>

    <hr>
    <!--    <button [routerLink]="['clients',1]">:1</button>-->

    <button
      [routerLink]="'create'"
      tuiButton
      type="button"
    >
      Add Contact
    </button>
  </nav>
  <hr>

  <tui-textfield
    iconStart="@tui.search"
  >
    <label tuiLabel>Search by Name</label>
    <input
      [(ngModel)]="nameSearch"
      tuiTextfield
    />
    <!--    <tui-icon tuiTooltip="Search by Name"/>-->
  </tui-textfield>

  <div
    class="content">
    <tui-loader
      [overlay]="true"
      [showLoader]="!!(loading$ | async)"
    >
      <table
        (directionChange)="direction$.next($event)"
        (tuiSortByChange)="sorter$.next($event!)"
        *ngIf="data$ | async as contacts"
        [columns]="columns"
        [direction]="(direction$ | async) || 1"
        [size]="'s'"
        [tuiSortBy]="sorter$ | async"
        class="table"
        tuiTable
      >
        <thead tuiThead>
        <tr tuiThGroup>
          <th *tuiHead="'name'" tuiSortable tuiTh>Name</th>
          <th *tuiHead="'phone'" tuiSortable tuiTh>Phone</th>
          <th *tuiHead="'email'" tuiSortable tuiTh>Email</th>
          <th *tuiHead="'party'" [sorter]="null" tuiTh>Party</th>
          <th *tuiHead="'actions'" [sorter]="null" tuiTh>Actions</th>
        </tr>
        </thead>
        <tbody
          *tuiLet="contacts as sortedContacts"
          [data]="sortedContacts"
          tuiTbody
        >
        <tr *ngFor="let contact of sortedContacts" tuiTr>
          <td *tuiCell="'name'" tuiTd>
            <a [routerLink]="[contact.id]"
               tuiLink
            >
              {{ contact.name }}
            </a>
          </td>
          <td *tuiCell="'phone'" tuiTd>{{ contact.phone }}</td>
          <td *tuiCell="'email'" tuiTd>{{ contact.email }}</td>
          <td *tuiCell="'party'" tuiTd>
            @if (contact.customer.id) {
              <a [routerLink]="['/customers', contact.customer.id]"
                 iconStart="@tui.hand-coins"
                 tuiLink
              >
                {{ contact.customer.name }}
              </a>
            } @else if (contact.supplier.id) {
              <a [routerLink]="['/suppliers', contact.supplier.id]"
                 iconStart="@tui.container"
                 tuiLink
              >
                {{ contact.supplier.name }}
              </a>
            } @else {

            }
          </td>
          <td *tuiCell="'actions'" tuiTd>
          <span tuiStatus>
          <button
            [routerLink]="[contact.id]"
            appearance="action"
            iconStart="@tui.pencil"
            size="xs"
            tuiIconButton
            type="button"
          >
            Edit
          </button>
          <button
            [tuiDropdown]="content"
            appearance="action"
            iconStart="@tui.ellipsis"
            size="xs"
            tuiDropdownOpen
            tuiIconButton
            type="button"
          >
            More
          </button>
          <ng-template #content>
            <tui-data-list role="menu">
              <a (click)="showDeleteDialog(contact)"
                 iconStart="@tui.trash"
                 tuiLink
              >
                Delete
              </a>
            </tui-data-list>
          </ng-template>
        </span>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td [colSpan]="columns.length">
            <tui-table-pagination
              (paginationChange)="onPagination($event)"
              [page]="(page$ | async) || 0"
              [size]="(size$ | async) || 20"
              [total]="(total$ | async) || 0"
              class="tui-space_top-2"
            />
          </td>
        </tr>
        </tfoot>
      </table>
    </tui-loader>
  </div>
</main>


